<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="car" class="com.fc.entity.Car">
        <constructor-arg name="speed" type="java.lang.Float" value="100"/>
        <constructor-arg name="color" type="java.lang.String" value="yellowgreen"/>
    </bean>
</beans>