<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="userService" class="com.fc.service.impl.UserServiceImpl"/>

    <!--通知-->
    <bean id="advice" class="com.fc.advice.AnnotationAspect"/>

    <!--aop自动代理完成织入-->
    <!--开启aop注解支持-->
    <aop:aspectj-autoproxy/>
</beans>