<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.dao.StudentMapper">

    <resultMap id="BaseResultMap" type="com.fc.entity.Student">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="age" column="age" jdbcType="INTEGER"/>
            <result property="gender" column="gender" jdbcType="CHAR"/>
            <result property="birthday" column="birthday" jdbcType="TIMESTAMP"/>
            <result property="info" column="info" jdbcType="VARCHAR"/>
            <result property="mood" column="mood" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,age,
        gender,birthday,info,
        mood
    </sql>

    <select id="selectAgeAndInfoAndMoodById" resultMap="BaseResultMap">
        select age, info, mood
        from student
        where id = #{id,jdbcType=NUMERIC}
    </select>
    <update id="updateInfoAndNameAndAgeById">
        update student
        set info = #{info,jdbcType=VARCHAR},
            name = #{name,jdbcType=VARCHAR},
            age  = #{age,jdbcType=NUMERIC}
        where id = #{id,jdbcType=NUMERIC}
    </update>
</mapper>
