<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.dao.LocationDao">
    <!--使用其他命名空间中的缓存，这样当前命名空间下的所有的缓存内容都会存储到UserDao下面-->
    <cache-ref namespace="com.fc.dao.UserDao"/>
    <select id="findAll" resultType="com.fc.vo.UserVO">
        select * from location
        inner join user
        on location.id = user.id
    </select>
</mapper>