<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--映射，namespace命名空间，必须和接口的完整包名.类名完全一致-->
<mapper namespace="com.fc.dao.EmployeeDao">
    <resultMap id="findByIdMap" type="com.fc.entity.Employee">
        <id column="emp_id" property="id"/>
        <result column="emp_name" property="name"/>
    </resultMap>

    <select id="findById" resultMap="findByIdMap">
        select *
        from employee where dept_id = #{id};
    </select>
</mapper>






