<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--映射，namespace命名空间，必须和接口的完整包名.类名完全一致-->
<mapper namespace="com.fc.dao.StudentDao">
    <select id="findAll" parameterType="Integer" resultType="com.fc.entity.Student">
        select * from student
    </select>
</mapper>






