<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--MyBatis配置-->
<configuration>
    <!--导入外部properties配置文件-->
    <properties resource="jdbc.properties"/>

    <settings>
        <!--日志-->
        <setting name="logImpl" value="LOG4J2"/>
        <!--驼峰映射-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!--数据库方言-->
            <property name="helperDialect" value="mysql"/>
            <!--分页数据合理化：如果我想查询第0页，默认查询第一页
            如果我想查不存在的页，查最后一页-->
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>

    <!--运行环境-->
    <environments default="development">
        <!--唯一标识id-->
        <environment id="development">
            <!--事务平台管理器-->
            <transactionManager type="JDBC"/>
            <!--数据源，type是数据库连接池的类型，后期用Druid-->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <!--映射文件-->
    <mappers>
        <mapper resource="com/fc/mapper/StudentMapper.xml"/>
    </mappers>
</configuration>