<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--映射，namespace命名空间，必须和接口的完整包名.类名完全一致-->
<mapper namespace="com.fc.dao.DepartmentDao">
    <resultMap id="findAllMap" type="com.fc.entity.Department">
        <id column="dept_id" property="id"/>
        <result column="dept_name" property="name"/>

        <!--一对多的映射标签-->
        <collection property="employees" javaType="List" ofType="com.fc.entity.Employee">
            <id column="emp_id" property="id"/>
            <result column="emp_name" property="name"/>
        </collection>
    </resultMap>

    <select id="findAll" resultMap="findAllMap">
        select * from department d
        inner join employee e
        on d.dept_id = e.dept_id
    </select>
</mapper>






