<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--映射，namespace命名空间，必须和接口的完整包名.类名完全一致-->
<mapper namespace="com.fc.dao.StudentDao">
    <select id="findByIdAndName" resultType="com.fc.entity.Student">
        select * from student where id = #{arg0} and name = #{arg1}
    </select>

    <select id="findByAgeAndName" resultType="com.fc.entity.Student">
        select * from student where age = #{param1} and name = #{param2}
    </select>

    <select id="findByGenderAndName" resultType="com.fc.entity.Student">
        select * from student where gender = #{gender} and name = #{name}
    </select>

    <insert id="insert">
        insert into student(name, age, gender, birthday, info) values (#{name}, #{age}, #{gender}, #{birthday}, #{info})
    </insert>

    <insert id="insertStudent">
        insert into student(name, age, gender, birthday, info) values (#{name}, #{age}, #{gender}, #{birthday}, #{info})
    </insert>
</mapper>