<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--映射，namespace命名空间，必须和接口的完整包名.类名完全一致-->
<mapper namespace="com.fc.dao.StudentDao">
    <!--select对应查询语句，id唯一的，可以随便写-->
    <select id="select" resultType="com.fc.entity.Student">
        select * from student where id = 1
    </select>

    <insert id="insert">
        insert into student(name, age, gender, info) values('古力娜扎', 30, '女', '择天记')
    </insert>

    <select id="findById" resultType="com.com.fc.entity.Student">
        select * from student where id = 1;
    </select>

    <!--id不能随便写了，必须和接口中的方法名完全一致-->
    <select id="findAll" resultType="com.com.fc.entity.Student">
        select * from student
    </select>

    <select id="findStudentById" parameterType="Integer" resultType="com.com.fc.entity.Student">
        select * from student where id = ${id}
    </select>
</mapper>