<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="student" class="com.fc.entity.Student">
        <property name="name" value="易烊千玺"/>
        <property name="age" value="22"/>
    </bean>

    <bean id="teacher" class="com.fc.entity.Teacher">
        <property name="name" value="马老师"/>
        <property name="age" value="60"/>
        <property name="student" ref="student"/>
    </bean>
</beans>